In [18]:
import pandas as pd, numpy as np, seaborn as sns

In [19]:
df_small = pd.read_csv("../data/orders factory.csv")

In [23]:
df_small.collect = pd.to_datetime(df_small.collect)
df_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1272973 entries, 0 to 1272972
Data columns (total 7 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   order    1272973 non-null  int64
 1   costum   1272969 non-null  float64
 2   collect  1272973 non-null  datetime64[ns]
 3   prod     1272973 non-null  object
 4   barcode  1245734 non-null  object
 5   weight   1272973 non-null  float64
 6   pacs     1272973 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 68.0+ MB

In [24]:
# Group the DataFrame by quarters using pd.Grouper
groups = df_small.groupby(pd.Grouper(key='collect', freq='Q'))

groups

In [31]:
dfs = []
for name, group in groups:
    dfs.append(pd.DataFrame(group))
Q1df = dfs[0]
Q2df = dfs[1]
Q3df = dfs[2]
Q4df = dfs[3]

In [102]:
df_small = Q4df

In [103]:
df_grouped = df_small.groupby('order')

In [109]:
df_prod_per_order = df_grouped['prod'].unique().apply(pd.Series.value_counts)

In [110]:
df_prod_per_order

,331l,64162,16162S,12162CB,5005-7,50099,50500,8001,132082CP,37170,...,18162crf,11451GC,152082SP,17162CANG,18162CAF,336XXL,51005,63026,88038,88045
order,,,,,,,,,,,,,,,,,,,,,
25483,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25492,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25522,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104597,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
104598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
104599,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0

In [111]:
num_of_products = len(df_prod_per_order.columns)
num_of_products

550

In [112]:
product_matrix = np.zeros((num_of_products,num_of_products))
np.shape(product_matrix)

(550, 550)

In [113]:
df_products = pd.DataFrame(product_matrix,columns=df_prod_per_order.columns.tolist(), index=df_prod_per_order.columns.tolist())
df_products

,331l,64162,16162S,12162CB,5005-7,50099,50500,8001,132082CP,37170,...,18162crf,11451GC,152082SP,17162CANG,18162CAF,336XXL,51005,63026,88038,88045
331l,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16162S,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12162CB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5005-7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336XXL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63026,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [114]:
df_prod_per_order.fillna(0, inplace=True)
df_prod_per_order

,331l,64162,16162S,12162CB,5005-7,50099,50500,8001,132082CP,37170,...,18162crf,11451GC,152082SP,17162CANG,18162CAF,336XXL,51005,63026,88038,88045
order,,,,,,,,,,,,,,,,,,,,,
25483,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25492,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25522,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25523,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
104595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
104597,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
104598,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
104599,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0

In [115]:
filtered_df = df_prod_per_order[df_prod_per_order.sum(axis=1) >= 2]
def get_index_pairs(row):
    non_zero_indices = np.argwhere(row.values)
    index_pairs = []
    for i in range(len(non_zero_indices)):
        for j in range(i+1, len(non_zero_indices)):
            index_pairs.append((non_zero_indices[i][0], non_zero_indices[j][0]))
    return index_pairs

index_pairs = filtered_df.apply(get_index_pairs, axis=1)
index_pairs

order
25483     [(0, 1), (0, 2), (0, 3), (0, 4), (1, 2), (1, 3...
25492     [(5, 6), (5, 7), (5, 8), (5, 9), (5, 10), (6, ...
25522     [(3, 12), (3, 13), (3, 14), (3, 15), (3, 16), ...
25523                                            [(14, 18)]
25526     [(3, 8), (3, 20), (3, 21), (3, 22), (3, 23), (...
                                ...
104592    [(161, 284), (161, 373), (161, 526), (284, 373...
104593                                          [(19, 249)]
104597    [(0, 1), (0, 2), (0, 6), (0, 11), (0, 12), (0,...
104598    [(53, 61), (53, 88), (53, 94), (53, 149), (53,...
104599    [(1, 14), (1, 18), (1, 32), (1, 49), (1, 50), ...
Length: 2700, dtype: object

In [116]:
for row in index_pairs:
    for pair in row:
        df_products.iloc[pair[0], pair[1]] += 1
df_products

,331l,64162,16162S,12162CB,5005-7,50099,50500,8001,132082CP,37170,...,18162crf,11451GC,152082SP,17162CANG,18162CAF,336XXL,51005,63026,88038,88045
331l,0.0,2.0,3.0,1.0,3.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
64162,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
16162S,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
12162CB,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5005-7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336XXL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
63026,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
88038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
88045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [117]:
orders = df_small.groupby('order')['prod'].apply(set)
co_occurrence_matrix = pd.DataFrame(index=df_small['prod'].unique(), columns=df_small['prod'].unique()).fillna(0)

for order_products in orders:
    for product1 in order_products:
        for product2 in order_products:
            if product1 != product2:
                co_occurrence_matrix.loc[product1, product2] += 1
co_occurrence_matrix

,331l,64162,16162S,12162CB,5005-7,50099,50500,8001,132082CP,37170,...,18162crf,336XL,50109,50112,50121,336XXL,51005,63026,88038,88045
331l,0,2,3,1,3,0,1,0,0,1,...,1,1,1,1,1,0,0,0,0,0
64162,2,0,2,1,1,0,1,0,0,0,...,1,1,1,1,1,0,1,1,1,1
16162S,3,2,0,1,1,0,1,0,0,0,...,1,1,1,1,1,0,0,0,0,0
12162CB,1,1,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5005-7,3,1,1,1,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336XXL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51005,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
63026,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,1
88038,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
88045,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0

In [118]:
product_counts = df_small.groupby('prod').count().order
product_counts = product_counts.reindex(co_occurrence_matrix.index)
scaled_matrix = co_occurrence_matrix / product_counts
np.fill_diagonal(scaled_matrix.values, 1)
scaled_matrix

,331l,64162,16162S,12162CB,5005-7,50099,50500,8001,132082CP,37170,...,18162crf,336XL,50109,50112,50121,336XXL,51005,63026,88038,88045
331l,1.000000,0.028986,0.021127,0.038462,0.125000,0.0,0.071429,0.0,0.000000,0.035714,...,1.0,1.0,1.0,1.0,1.0,0.0,0.000000,0.0,0.0,0.0
64162,0.021978,1.000000,0.014085,0.038462,0.041667,0.0,0.071429,0.0,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,0.0,0.090909,1.0,1.0,1.0
16162S,0.032967,0.028986,1.000000,0.038462,0.041667,0.0,0.071429,0.0,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,0.0,0.000000,0.0,0.0,0.0
12162CB,0.010989,0.014493,0.007042,1.000000,0.041667,0.0,0.000000,0.0,0.028571,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
5005-7,0.032967,0.014493,0.007042,0.038462,1.000000,0.0,0.000000,0.0,0.000000,0.107143,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336XXL,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,0.0
51005,0.000000,0.014493,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1.0,1.0,1.0
63026,0.000000,0.014493,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.090909,1.0,1.0,1.0
88038,0.000000,0.014493,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.090909,1.0,1.0,1.0
88045,0.000000,0.014493,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.090909,1.0,1.0,1.0

In [119]:
daily_products = df_small.groupby('collect')['prod'].apply(set)
co_occurrence_matrix_date = pd.DataFrame(index=df_small['prod'].unique(), columns=df_small['prod'].unique()).fillna(0)

for products_on_date in daily_products:
    for product1 in products_on_date:
        for product2 in products_on_date:
            if product1 != product2:
                co_occurrence_matrix_date.loc[product1, product2] += 1
co_occurrence_matrix_date

,331l,64162,16162S,12162CB,5005-7,50099,50500,8001,132082CP,37170,...,18162crf,336XL,50109,50112,50121,336XXL,51005,63026,88038,88045
331l,0,9,11,2,9,4,4,1,1,5,...,1,1,1,1,1,1,1,1,1,1
64162,9,0,5,2,4,1,4,1,1,5,...,1,1,1,1,1,1,1,1,1,1
16162S,11,5,0,1,2,3,2,1,1,3,...,1,1,1,1,1,1,1,1,1,1
12162CB,2,2,1,0,2,1,1,1,1,2,...,0,0,0,0,0,0,0,0,0,0
5005-7,9,4,2,2,0,1,1,1,1,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336XXL,1,1,1,0,0,0,1,0,0,0,...,1,1,1,1,1,0,1,1,1,1
51005,1,1,1,0,0,0,1,0,0,0,...,1,1,1,1,1,1,0,1,1,1
63026,1,1,1,0,0,0,1,0,0,0,...,1,1,1,1,1,1,1,0,1,1
88038,1,1,1,0,0,0,1,0,0,0,...,1,1,1,1,1,1,1,1,0,1
88045,1,1,1,0,0,0,1,0,0,0,...,1,1,1,1,1,1,1,1,1,0

In [120]:
product_counts_date = df_small.groupby('prod').count().collect
product_counts_date = product_counts_date.reindex(co_occurrence_matrix_date.index)
scaled_matrix_date = co_occurrence_matrix_date / product_counts_date
np.fill_diagonal(scaled_matrix_date.values, 1)
scaled_matrix_date

,331l,64162,16162S,12162CB,5005-7,50099,50500,8001,132082CP,37170,...,18162crf,336XL,50109,50112,50121,336XXL,51005,63026,88038,88045
331l,1.000000,0.130435,0.077465,0.076923,0.375000,0.333333,0.285714,1.0,0.028571,0.178571,...,1.0,1.0,1.0,1.0,1.0,1.0,0.090909,1.0,1.0,1.0
64162,0.098901,1.000000,0.035211,0.076923,0.166667,0.083333,0.285714,1.0,0.028571,0.178571,...,1.0,1.0,1.0,1.0,1.0,1.0,0.090909,1.0,1.0,1.0
16162S,0.120879,0.072464,1.000000,0.038462,0.083333,0.250000,0.142857,1.0,0.028571,0.107143,...,1.0,1.0,1.0,1.0,1.0,1.0,0.090909,1.0,1.0,1.0
12162CB,0.021978,0.028986,0.007042,1.000000,0.083333,0.083333,0.071429,1.0,0.028571,0.071429,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
5005-7,0.098901,0.057971,0.014085,0.076923,1.000000,0.083333,0.071429,1.0,0.028571,0.071429,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336XXL,0.010989,0.014493,0.007042,0.000000,0.000000,0.000000,0.071429,0.0,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,0.090909,1.0,1.0,1.0
51005,0.010989,0.014493,0.007042,0.000000,0.000000,0.000000,0.071429,0.0,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.000000,1.0,1.0,1.0
63026,0.010989,0.014493,0.007042,0.000000,0.000000,0.000000,0.071429,0.0,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,0.090909,1.0,1.0,1.0
88038,0.010989,0.014493,0.007042,0.000000,0.000000,0.000000,0.071429,0.0,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,0.090909,1.0,1.0,1.0
88045,0.010989,0.014493,0.007042,0.000000,0.000000,0.000000,0.071429,0.0,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,0.090909,1.0,1.0,1.0

In [121]:
def interpolate(df1, df2, lam=0.9):
    return df1 * lam + df2 * (1 - lam)
df_merged = interpolate(scaled_matrix, scaled_matrix_date)
df_merged

,331l,64162,16162S,12162CB,5005-7,50099,50500,8001,132082CP,37170,...,18162crf,336XL,50109,50112,50121,336XXL,51005,63026,88038,88045
331l,1.000000,0.039130,0.026761,0.042308,0.150000,0.033333,0.092857,0.1,0.002857,0.050000,...,1.0,1.0,1.0,1.0,1.0,0.1,0.009091,0.1,0.1,0.1
64162,0.029670,1.000000,0.016197,0.042308,0.054167,0.008333,0.092857,0.1,0.002857,0.017857,...,1.0,1.0,1.0,1.0,1.0,0.1,0.090909,1.0,1.0,1.0
16162S,0.041758,0.033333,1.000000,0.038462,0.045833,0.025000,0.078571,0.1,0.002857,0.010714,...,1.0,1.0,1.0,1.0,1.0,0.1,0.009091,0.1,0.1,0.1
12162CB,0.012088,0.015942,0.007042,1.000000,0.045833,0.008333,0.007143,0.1,0.028571,0.007143,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
5005-7,0.039560,0.018841,0.007746,0.042308,1.000000,0.008333,0.007143,0.1,0.002857,0.103571,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336XXL,0.001099,0.001449,0.000704,0.000000,0.000000,0.000000,0.007143,0.0,0.000000,0.000000,...,0.1,0.1,0.1,0.1,0.1,1.0,0.009091,0.1,0.1,0.1
51005,0.001099,0.014493,0.000704,0.000000,0.000000,0.000000,0.007143,0.0,0.000000,0.000000,...,0.1,0.1,0.1,0.1,0.1,0.1,1.000000,1.0,1.0,1.0
63026,0.001099,0.014493,0.000704,0.000000,0.000000,0.000000,0.007143,0.0,0.000000,0.000000,...,0.1,0.1,0.1,0.1,0.1,0.1,0.090909,1.0,1.0,1.0
88038,0.001099,0.014493,0.000704,0.000000,0.000000,0.000000,0.007143,0.0,0.000000,0.000000,...,0.1,0.1,0.1,0.1,0.1,0.1,0.090909,1.0,1.0,1.0
88045,0.001099,0.014493,0.000704,0.000000,0.000000,0.000000,0.007143,0.0,0.000000,0.000000,...,0.1,0.1,0.1,0.1,0.1,0.1,0.090909,1.0,1.0,1.0

In [ ]:
df_merged.to_csv("../data/Q2combined.csv")

In [68]:
np.where(df_merged.sum(axis=1) < 1.17)

(array([425, 505], dtype=int64),)

In [ ]:
scaled_matrix_full = pd.read_csv("../data/common_prod_per_order_norm.csv")

In [ ]:
co_occurrence_matrix_date_full = pd.read_csv("../data/common_prod_per_date.csv")

In [4]:

daily_product_stats = df_small.groupby(['collect', 'prod']).agg(
    daily_total_weight=('weight', 'sum'),
    daily_total_packages=('pacs', 'sum'),
    daily_total_orders=('order', 'nunique')
).reset_index()
daily_product_stats

,collect,prod,daily_total_weight,daily_total_packages,daily_total_orders
0,2018-01-01,10162CA,430.18,19,2
1,2018-01-01,10451S,489.18,19,3
2,2018-01-01,11162CGVM3,73.74,3,3
3,2018-01-01,11162GVCA4,4.00,1,1
4,2018-01-01,11162GVFCA3,3.95,1,1
...,...,...,...,...,...
121968,2022-12-10,974150CR,132.56,5,1
121969,2022-12-10,974150TVCR,98.48,7,2
121970,2022-12-10,994150CR5,1987.46,78,6
121971,2022-12-10,994150S5,169.02,7,3
121972,2022-12-10,HLO451S,22959.58,1150,2

In [5]:
overall_product_stats = daily_product_stats.groupby('prod').agg(
    avg_daily_weight=('daily_total_weight', 'mean'),
    avg_daily_packages=('daily_total_packages', 'mean'),
    avg_daily_orders=('daily_total_orders', 'mean')
)

In [6]:
cv_product_stats = daily_product_stats.groupby('prod').agg(
    cv_daily_weight=('daily_total_weight', lambda x: x.std() / x.mean()),
    cv_daily_packages=('daily_total_packages', lambda x: x.std() / x.mean()),
    cv_daily_orders=('daily_total_orders', lambda x: x.std() / x.mean())
)

In [7]:
combined_data = overall_product_stats.merge(cv_product_stats, left_index=True, right_index=True)

In [8]:
combined_data

,avg_daily_weight,avg_daily_packages,avg_daily_orders,cv_daily_weight,cv_daily_packages,cv_daily_orders
prod,,,,,,
10021CRZ,564.126667,25.333333,1.000000,0.982732,0.982464,0.000000
1002CR,1293.145800,55.540000,1.340000,0.913089,0.913183,0.415915
1002CRHLRR,2536.900000,114.333333,1.000000,1.415235,1.408308,0.000000
1002S,3144.304000,138.600000,1.000000,0.608244,0.606867,0.000000
1003C,976.871429,43.285714,1.428571,1.494216,1.477671,0.359487
...,...,...,...,...,...,...
HLO451C,4335.147333,194.200000,1.000000,0.676470,0.678357,0.000000
HLO451CR,9157.136744,430.139535,1.000000,0.573522,0.561331,0.000000
HLO451S,10097.629779,478.448529,1.036765,0.689522,0.693826,0.216732
HLR2082C,3596.695000,157.000000,1.000000,1.396539,1.396198,0.000000
HLR2082S,1976.445000,85.000000,1.500000,0.378807,0.349394,0.471405

In [17]:
pd.isna(df_small).sum()

order          0
costum         4
collect        0
prod           0
barcode    27239
weight         0
pacs           0
dtype: int64